@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root {
    --navbar-width: 300px;
    --aside-width: 300px;
    --header-height: 70px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

p {
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 1.25;
  font-size: 14px
} 

/* Is this really the right way to apply a default style to dmc.Text?  */
.mantine-Text-root:not(.mantine-Title-root), .mantine-List-item { 
  margin-top: 6px;
  margin-bottom: 6px;
  line-height: 1.25;
  font-size: 14px
} 


.page-header {
  position: fixed;
  height: var(--header-height);
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  /* Uncomment for debugging */
  /* border: 2px solid red; */
}

/* .page-header * {
  padding: 0;
  margin: 0
} */

/* Implements scrolling using dmc.ScrollArea */
.page-navbar {
  /* border: 2px solid blue; */
  width: var(--navbar-width);
  position: fixed;
  top: var(--header-height);
}

/* Implements scrolling in CSS */
.page-navbar-drawer {
  /* border: 2px solid blue; */
  width: var(--navbar-width);
  position: fixed;
  top: var(--header-height);
  overflow: scroll
}

.page-aside {
  /* border: 2px solid blue; */
  width: var(--aside-width);
  position: fixed;
  top: var(--header-height);
  right: 0;
}

.page-body {
    margin-left: var(--navbar-width); /* Position to right of navbar (~ left sidebar) */
    margin-right: var(--aside-width); /* Position to left of Aside (~right sidebar) */
    padding-top: var(--header-height); /* Position below the Header */
    max-height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 2px solid black; */
    overflow: scroll;
}

/* Hide (right-hand) Aside as page narrows */
@media only screen and (max-width: 1500px) {
  .page-aside {
      display: none;
  }
  .page-body {
      margin-right: 0;
  }
}

/* Hide (left-hand) Navbar as page narrows */
@media only screen and (max-width: 1200px) {
  .page-navbar {
      display: none;
  }
  .page-body {
      margin-left: 0;
  }
}
